
<div class="trialpartWrapper" style="float:left; width:295px;">
	<p>
	This is a <b><%= (see_sg) ? this.singular : "________" %></b>.
	<%= makeSoundButton(this.sgfile) %>
	</p>
	<p>
	<img src="resources/pictures/<%= picture.pic1 %>" width="160" style="padding:10px; border: none;"><br>
	</p>
</div>

<div class="trialpartWrapper" style="float:right; width:295px;">
	<p>
	These are _________.<br>
	<br>
	<small>Now you tell us what the plural is:</small><br>
	<%=  makeTextInput({style: "width: 6em; font-size: 1em;", allowempty: false})  %>
	<%= continueButton() %>
	
	<div style="border: none;">
		<img src="resources/pictures/<%= picture.pic2 %>" width="100"  style="padding:10px;"><img src="resources/pictures/<%= picture.pic2 %>" width="100" style="padding:10px;"><br>
		<img src="resources/pictures/<%= picture.pic2 %>" width="100"  style="padding:10px;"><img src="resources/pictures/<%= picture.pic2 %>" width="100" style="padding:10px;">
	</div>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
