<%
exp.screen().singular = (exp.screen().finalConsonant=="l") ? exp.screen().item_l : exp.screen().item_j
%>

<div class="trialpartWrapper" id="part1">
	<%= exp.screen().frame.text1 %><b><i><%= exp.screen().singular %></i></b><%= exp.screen().frame.text2 %>
	<%= exp.screen().makeSoundButton(exp.screen()["file_" + exp.screen().finalConsonant]) %>
</div>

<div class="trialpartWrapper" id="part3">
	<%= exp.screen().makeScale({direction: exp.screen().VERTICAL, buttons: ["1","2","3","4","5","6","7"], edgelabels:['',''], sidelabels: ['top','','','no pref','','','bottom'] }) %>
</div>

<div class="trialpartWrapper" id="part2">
	<%= exp.screen().frame.text1 %><b><i><%= exp.screen().singular %></i></b><%= exp.screen().frame.text2 %>
	<%= exp.screen().makeSoundButton(exp.screen()["file_pl_" + exp.screen().finalConsonant]) %>
</div>

