<%
singular = (finalConsonant=="l") ? item_l : item_j
%>

<div class="trialpartWrapper" id="part1">a
	<%= frame.text1 %><b><i><%= singular %></i></b><%= frame.text2 %>
	<%= makeSoundButton(this["file_pl_" + finalConsonant]) %>
</div>

<div class="trialpartWrapper" id="part3">
	<%= makeScale({direction: VERTICAL, buttons: ["1","2","3","4","5","6","7"], edgelabels:['',''], sidelabels: ['top','','','no pref','','','bottom'] }) %>
</div>

<div class="trialpartWrapper" id="part2">
	<%= frame.text1 %><b><i><%= singular %></i></b><%= frame.text2 %>
	<%= makeSoundButton(this["file_" + finalConsonant]) %>
</div>

