<%
var screen = exp.getCurrentScreen();
%>

<div class="trialpartWrapper">
<%= screen.frame.text %>
<%= (screen.finalConsonant=="l") ? screen.item : screen.item_j %>

<%= screen.makeSoundButton(screen["file_" + screen.finalConsonant]) %>
</div>


<div class="trialpartWrapper">
<%= screen.frame.text %>
<%= (screen.finalConsonant=="l") ? screen.item : screen.item_j %>

<%= screen.makeSoundButton(screen["file_" + screen.finalConsonant]) %>
</div>


<p>
<input type="button" value="   continue   " onClick="exp.advance(this);">


